<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396724577449-ko83vth7ijvtq84qmpeog7fej2ihh18q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396724577449-ko83vth7ijvtq84qmpeog7fej2ihh18q</string>
	<key>API_KEY</key>
	<string>AIzaSyCMNKrGiX_HObGY-6-5qLqw6jdM4DN9aco</string>
	<key>GCM_SENDER_ID</key>
	<string>396724577449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hubl.YourReader</string>
	<key>PROJECT_ID</key>
	<string>your-reader</string>
	<key>STORAGE_BUCKET</key>
	<string>your-reader.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396724577449:ios:1bdaaa615ce17ab13af5b8</string>
	<key>DATABASE_URL</key>
	<string>https://your-reader.firebaseio.com</string>
</dict>
</plist>